#new-recipe-form {
	background-color: #DEDE37;
	opacity: .8;
	background-image: url("coralterri.jpg");
	background-size: cover;
	width: 70%;
	margin: 0 auto;
	border-radius: 10px;
	padding: 1%;
}

.recipe_box_div {
	background-color: white;
	border: 1px solid black;
	width: 70%;
	margin: 0 auto;
}


pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #DE5547;
    word-break: break-all;
    word-wrap: break-word;
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
}