
.recipe_show_img {
	width:  30%;
}

.recipe_box_img {
	width: 255px;
	height: 230px;
}

#new-recipe-form {
	font-family: Menlo,Monaco,Consolas,"CourierNew",monospace;
	/*background-image: url("https://s-media-cache-ak0.pinimg.com/736x/f1/89/85/f189852fa838b839fcd15e497f33707b.jpg");*/
/*	background-color: #DEDE37;*/
	opacity: .8;
	background-size: cover;
	width: 100%;
	margin: 0 auto;
	border-radius: 10px;
	padding: 1%;
}

input {
	background-color: #E8E4D1;
}

.form-control {
	background-color: #E8E4D1;
	color: #3B1A48;
}

textarea {
	background-color: #E8E4D1;
}

select {
	background-color: #E8E4D1;
}

/*/////// RECIPE COMMUNITY ///////*/

.recipe_img {
/*	width: 220px;
	height: 160px;*/
	width: 70%;
	max-height: 50%;
}

.panel-default {
 	/*float: left;*/
/*	width: 350px;*/
	height: 280px;
	overflow: scroll;
	/*border: 3px solid #73AD21;  */
}
.panel {
	background-color: #E8E4D1;
	/*background-color: #D4D4D4;*/
	border: 2px solid #9C1010;
}

.left {
	float: left;
	clear: both;
}

.pDescription {
	clear: both;
	margin: 0 2%;
	overflow: hidden;
	/*width: 30%;*/
}

.recipe_box_div_index {
	display: inline-block;
	padding: .5%;
	/*background-color: white;*/
	border: 1px solid black;
	width: 300px;
	height: 400px;
	margin: 2%;
	/*float: left;*/
/*	margin: 0 auto;*/
/*	border-radius: 25px;*/
}

.recipe_box_div {
	max-width: 880px;
	margin: 0 auto;
}

.row.community-page {
  margin: 0 auto;
  /*padding-left: 2%;*/
}

pre {
		width: 320px;
    /*margin: 0 0 10px;*/
    font-size: 13px;
    line-height: 1.42857143;
    color: #A61212;
    /*color: #DE5547;*/
    word-break: break-all;
    word-wrap: break-word;
    background-color: #E8E4D1;
    border: 2px solid #A61212;
    border-radius: 4px;
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    /*word-wrap: break-word; */
}


/*//////////RECIPE SHOW//////////*/
#back {
	font-size: 2em;
}

.pre_show {
	width: 100%;
}

.h2recipeShow {
	margin-bottom: 0;
}

.recipe_show_div {
	width: 80%;
	margin: 0 auto;
	border: 1px solid black;
	overflow: hidden;
	border-radius: 60px;
}

.recipe_show_div_instructions {
	width: 100%;
	margin: 0 auto;
	border: 1px solid black;
	overflow: hidden;
}

.inline_block {
	display: inline-block;
}

.ingredients_content {
	margin: 0 4%;
}

.recipe_box_title_link {
	width: 250px;
	color: #9C1010;
	font-size: 1.2em;
	text-decoration: underline;
	background-color: #E8E4D1;
	/*padding: 1%;*/
	border-radius: 10px;
	border: 1px solid #9C1010;
}

.recipe_box_title_link:hover {
	font-size: 1.3em;
	color: #9C1010;
}

.recipe_title {
	color: #9C1010;
	/*text-decoration: none;*/
}

.recipe_box_div_show {
	padding: .5%;
	background-color: #EFE3CB;
	border: 2px solid #99291D;
	width: 100%;
	margin: 0 auto;
	border-radius: 25px;
}

.recipe_image_show {
	width: 300px;
	margin-top: 3%;
}

.row {
	margin-left: 0;
}

.pre-ingredients {
	width: 250px;
}

@media (max-width: 1195px) {

	.recipe_image_show {
		width: 360px;
		margin-top: 3%;
	}

	#new-recipe-form {
		background-size: cover;
	}

/*	.recipe_box_img {
		padding-top: 5%;
		width: 300px;
		height: 250px;
	}*/

	.recipe_box_content {
		width: 50%;
		margin: 0 auto;
	}

	textarea {
		width: 70%;
	}

/*	.panel-default {
		width: 280px;
		height: 200px;
		margin: 10px;
	}
*/
}

@media (max-width: 800px) {

/*	.container {
		padding-right: 0px;
		margin: 0 auto;
	}*/
/*
	.panel-default {
		width: 220px;
		height: 200px;
	}*/

}

@media (max-width: 500px) {
/*	
	.panel-default {
		width: 200px;
		height: 150px;
	}
*/
}

@media (max-width: 455px) {

	.cover-img {
		width: 300px;
		height: 250px;
	}
	
/*	.panel-default {
		margin-left: 7%;
		width: 320px;
		height: 150px;
	}*/
	
	h1 {
		font-size: 1.5em;
	}

	.createRecipeBtn {
		font-size: 1.2em;
		margin: 0 auto;
		width: 50%;
		padding: 0;
	}

	#back {
		font-size: 1em;
	}

	.recipe_image_show {
		width: 300px;
	}

	.pre_show {
		width: 300px;
	}


}



