<div class="container">
  <div class="row col-sm-12">
  <h1 id="h1-precipes">Reciplease</h1>
    <div class="col-sm-4">
      <img class="cover-img img-responsive" src="https://lh4.googleusercontent.com/-qUd7YicNw8Y/ULA5vzMoR2I/AAAAAAAAEqs/TsV3Qxvin2U/s800/buttermochi.jpg">
    </div>
    <div class="col-sm-4">
      <img class="cover-img img-responsive" src="https://s-media-cache-ak0.pinimg.com/736x/c2/8d/c5/c28dc5289b5d2e6a2b025fb3ba52aaf2.jpg">
    </div>
    <div class="col-sm-4">
      <img class="cover-img img-responsive" src="../images/hawaiian-food.jpg">
    </div>
    <div class="home-content-div">
	    <p class="left-align"><span class="glyphicon glyphicon-heart"></span> Create a home for your secret family recipes or favorite recipe links. 
      <p class="left-align"><span class="glyphicon glyphicon-heart"></span> <strong>Recipe Community: </strong> A place where users contribute and browse through other users favorite recipes</p>
      <p class="left-align"><span class="glyphicon glyphicon-heart"></span><strong>Recipe Box: </strong>A place to store your created recipes only.</p>
      <p>Keep in mind all recipes you create will be publicly accessible to the recipe community. A private option feature coming soon. You won't be able to view the full recipes or create your own unless you<br> <a ui-sref="signup"><strong>SIGN UP!</strong></a> Enjoy...</p>
	  </div>
  </div>
</div>
