<h1> Create New Recipe</h1>

<div class="form-group">

	<form ng-submit="rec.createRecipe()" id="new-recipe-form">

			 <div class="form-group">
		    <label for="category">Category</label>
			  <select ng-value="Appetizer" ng-model="rec.recipe.category">
		      <option ng-value="Appetizers">Appetizers</option>
		      <option ng-value="Breads">Breads</option>
		      <option ng-value="SoupsSalads">Soups & Salads</option>
		      <option ng-value="Dessert">Dessert</option>
		      <option ng-value="Side-dish">Side Dish</option>
		      <option ng-value="Main-dish">Main Dish</option>
		    </select>
		   </div>

			  <div class="form-group">
			   <input type="text" class="form-control" placeholder="Title" ng-model="rec.recipe.title">
			  </div>

			  <div class="form-group">
			   <input type="text" class="form-control" placeholder="Description" ng-model="rec.recipe.description">
			  </div>

			  <div class="form-group">
			    <p><label>Ingredients</label><p>
			    <textarea rows="7" cols="50" ng-model="rec.recipe.ingredients" placeholder="One ingredient per line e.g. 3.oz salmon fillet">
			    </textarea>
			  </div>
		

			
			  <div class="form-group">
			    <input type="url" class="form-control" ng-model="rec.recipe.recipeUrl" placeholder="Recipe Url">
			  </div>
			  <div class="form-group">
			    <input type="url" class="form-control" ng-model="rec.recipe.imageUrl" placeholder="Image Url">
			  </div>
			  <div class="form-group">
			    <p><label>Instructions</label></p>
			    <textarea rows="7" name="instructions" cols="50" ng-model="rec.recipe.instructions" value="instructions" placeholder="1. Do this...preheat to 350 degrees">
			    </textarea>
			  </div>

			  <div class="form-group">
				  <input type="text" placeholder="Recipe By:" ng-model="rec.recipe.postedBy">
			    <input type="number" name="servings" ng-model="rec.recipe.servings" placeholder="Servings e.g. 2" >
			  </div>
			  
			  <div class="form-group">
		     <input type="radio" name="true" ng-value="true" ng-model="rec.recipe.public" selected>Public<br>
		     <input type="radio" ng-model="rec.recipe.public" ng-value="false" name="false"> Private<br>
			  </div>

		  <input type="submit" value="Add Recipe" class="btn">

	 <!--  <input ng-click="showCreateRecipe=false" type="button" value="Cancel" class="btn"> -->
	</form>

</div>
