<div>
	<h1>Recipe Community</h1>
	<!-- <p>If you like what you see...guess you should <a class="underline" ui-sref="signup">Sign up</a></p> -->
</div>
<div id="search">
  <h3 id="search_h3"><strong>Search:</strong><input id="search-bar" class="form-control" placeholder=" Appetizers, Dessert, Main Dish, Side Dish" ng-model="query"></h3>
</div>

<div class="containter"ng-repeat="recipe in rec.allRecipes | filter:query ">
  <div class="panel panel-default">
    <div>
      <div class="panel-body">
       <h5 class="recipe-index-title">{{recipe.title}}</h5>
        <img ng-src="{{recipe.imageUrl}}" alt="Recipe Image" class=" recipe_img">
      </div>
      <div class="panel-body text-left">
  	    <p><strong>Category:</strong> {{recipe.category}}</p>
        <p><strong>Recipe By:</strong> {{recipe.postedBy}}</p>
      </div>
      <div>
        <p class="body pDescription after-box"><strong>Description:</strong> {{recipe.description}}</p>
      </div>
    </div>
  </div>
</div>



<!-- 		{{rec}} -->

<!-- <h1>ALL Recipes</h1>
<div ng-repeat="recipe in rec.allRecipes">
<h1>EACH RECIPE</h1> -->
	<!-- <div ng-repeat="rec in recipe"> -->
		<!-- <h2> recipe {{rec.title}} </h2> -->
	<!-- <div> -->
	